
week 1-Jetpack Compose basics/.idea/

week 1-Jetpack Compose basics/MyComposeWeek1/.idea/

week 2-1-Layouts in JetpackCompose/.idea/

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/executionHistory/

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/fileHashes/

week 2-2-Using state in Jetpack Compose/.gradle/buildOutputCleanup/

week 2-2-Using state in Jetpack Compose/.idea/

week 3-1-Jetpack Compose theming/.gradle/7.1.1/dependencies-accessors/

week 3-1-Jetpack Compose theming/.gradle/7.1.1/executionHistory/

week 3-1-Jetpack Compose theming/.gradle/7.1.1/fileChanges/

week 3-1-Jetpack Compose theming/.gradle/7.1.1/fileHashes/

*.properties

week 3-1-Jetpack Compose theming/.gradle/buildOutputCleanup/

week 3-1-Jetpack Compose theming/.gradle/checksums/

week 3-1-Jetpack Compose theming/.idea/
